<!DOCTYPE html>
<html lang="es">
    <head>
    	<title>Amigos - Facebluff</title>
        <meta name="description" content="Facebluff">
        <meta charset ="utf-8"/>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link type="text/css" rel="stylesheet" href="css/questions.css">
        <link type="text/css" rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header>
            <img id="logo" src="img/logo.png" alt="Logo Facebluff"> 
            <div class="navbar">           
                <a href="/profile">Perfil</a>        
                <a href="/friends">Amigos</a>        
                <a class="active" href="#">Preguntas</a>        
                <a href="/logout">Desconectar</a>
                <% if(data) { %>
                    <a class="disabled"> <%= data.points %> pts.</a>
                <% } %>
            </div>
        </header>
        <div id="content">
            <% if (data) %>
            <h2><%= data.question_text %></h2>
                <ul>
                    
                    <form method="POST" action="/answerQuestion">
                        <input type="hidden" name="answer" value="<%=data.answers[0].text%>">
                        <input name="qid" type="hidden" value="<%= data.id %>">
                        <li class="questions answ"><button type="submit">Responder</button> <%= data.answers[0].text %></li>
                    </form>
                    <form method="POST" action="/answerQuestion">
                        <input type ="hidden" name= "answer" value="<%=data.answers[1].text%>" >
                        <input name="qid" type="hidden" value="<%= data.id %>">
                        <li class="questions answ"><button type="submit">Responder</button> <%= data.answers[1].text %></li>
                    </form>
                    <% if (data.answers.length > 2) { %>
                        <form method="POST" action="/answerQuestion">
                            <input type ="hidden" name= "answer" value="<%=data.answers[2].text%>" >
                            <input name="qid" type="hidden" value="<%= data.id %>">
                            <li class="questions answ"><button type="submit">Responder</button> <%= data.answers[2].text %></li>
                        </form>
                    <% } %>
                    <% if ((data.answers.length > 3)) { %>
                        <form method="POST" action="/answerQuestion">
                            <input type ="hidden" name= "answer" value="<%=data.answers[3].text%>">
                            <input name="qid" type="hidden" value="<%= data.id %>">
                            <li class="questions answ"><button type="submit">Responder</button> <%= data.answers[3].text %></li>
                        </form>
                    <% } %>
                    <form method="POST" action="/answerQuestion">
                        <input name="qid" type="hidden" value="<%= data.id %>">
                        <li class="questions answ"><button type="submit">Responder</button> <input type="text" name="answer" placeholder="Otra respuesta"></li>
                    </form>                    
                </ul>
        </div>
    </body>
</html>