<!DOCTYPE html>
<html lang="es">
    <head>
    	<title>Amigos - Facebluff</title>
        <meta name="description" content="Facebluff">
        <meta charset ="utf-8"/>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link type="text/css" rel="stylesheet" href="css/questions.css">
        <link type="text/css" rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header>
            <img id="logo" src="img/logo.png" alt="Logo Facebluff"> 
            <div class="navbar">           
                <a href="profile">Perfil</a>        
                <a href="friends">Amigos</a>        
                <a class="active" href="#">Preguntas</a>        
                <a href="logout">Desconectar</a>
                <% if(data) { %>
                    <a class="disabled"> <%= data.points %> pts.</a>
                <% } %>
            </div>
        </header>
        <div id="content">
            <% if (qInfo) %>
            <h2><%= qInfo.question_text %></h2>
                <ul>

                    <% qInfo.answers.forEach(p=>{ %>
                        <form method="POST" action="/answerQuestion">
                            <input type="hidden" name="answer" value="<%=p.text%>">
                            <input name="qid" type="hidden" value="<%= qInfo.id %>">
                            <li class="questions answ"><button type="submit">Responder</button> <%= p.text %></li>
                        </form>
                    <% }) %>
 
                    <form method="POST" action="/answerQuestion">
                        <input name="qid" type="hidden" value="<%= qInfo.id %>">
                        <li class="questions answ"><button type="submit">Responder</button> <input type="text" name="answer" placeholder="Otra respuesta"></li>
                    </form>                    
                </ul>
        </div>
    </body>
</html>