<!DOCTYPE html>
<html lang="es">

<head>
    <title>Amigos - Facebluff</title>
    <meta name="description" content="Facebluff">
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="../css/friends.css">
</head>

<body>
    <header>
        <div class="sup">
            FACEBLUFF
        </div>
        <div class="navbar">
            <a href="profile">Perfil</a>
            <a class="active" href="#">Amigos</a>
            <a href="questions">Preguntas</a>
            <a href="logout">Desconectar</a>
            <% if(data) { %>
                <a class="disabled"> <%= data.points %> pts.</a>
            <% } %>
        </div>
    </header>
   
    <div class="container">
        <div class="left">

           <div>
                <h2>Solicitudes de amistad</h2>
        
                <% if (friendsRequest.length > 0) { %>
                    <table> 
                        <% friendsRequest.forEach( p=> { %>
                            <tr>
                                <form method="POST" action="friendResponse">
                                <td colspan="4">
                                    <input type ="hidden" name= "friendrequest" value="<%=p.email%>" >
                                    <% if (p.picture) { %>
                                        <img class="icon_miniature" src="img/<%=p.picture%>" alt="profile picture" /> 
                                    <% } else { %>
                                        <img class="icon_miniature" src="img/cara.png" alt="profile picture" /> 
                                    <% } %>
                                    <a class="friendsView"> <%= p.name %> </a>
                                </td>
                                <td class="bord">
                                    <input class="profile_button" type="submit" name="btn" value="Aceptar">
                                </td>
                                <td>
                                    <input class="profile_button" type="submit" name="btn" value="Rechazar">
                                </td>
                                </form>
                            </tr>
                        <% }) %>
                    </table>
                <% } else {%>
                    <h4>No tienes solicitudes de amistad pendientes.</h4>
                <% } %>
           </div>
    
           <div>
                <h2 class="mytext">Mis amigos</h2>
                <% if(friends.length > 0) { %>
                    <table class="tablefriends">
                        <% friends.forEach( p =>{ %>
                        <tr>
                            <td>
                                <% if (p.picture) { %>
                                    <img class="icon_miniature" src="img/<%=p.picture%>" alt="profile picture" /> 
                                <% } else { %>
                                    <img class="icon_miniature" src="img/cara.png" alt="profile picture" /> 
                                <% } %><a class="friendsView"
                                    href="#"> <%= p.name %></a>
                            <td class="bord">
                                <a class="profile_button visitar" href="/profile?email=<%= p.email %>" value="Visitar"> Visitar </a>    
                            </td>
                        </tr>
                        <% }) %>
                    </table>
                <% } else { %>
                    <h4>Aún no has añadido ningún amigo.</h4>
                <% } %>
           </div>
        </div>
    
        <div class="right">
            <h2 class="mytext">Búsqueda de usuarios:</h2>
            <form action="/search" method="POST">
                <input type="text" name="name" id="name" placeholder="Buscar usuarios" accept="image/*">
                <button type="submit" value="Buscar">Buscar</button>
            </form>
    
            <div class="friends_search">
                <% if (search) { %>
                <h2>Amigos encontrados:</h2>
                <table class="rightTable">
                    <% search.forEach( p => { %>
                    <tr>
                        <form method="POST" action="sendFriendRequest">
                        <td colspan="4">
                            <input type ="hidden" name= "friendrequest" value="<%=p.email%>" >
                            <img class="icon_miniature" src="img/<%=p.picture%>" alt="profile picture" /> <a class="friendsView"
                                href="#"> <%= p.name %> </a>
                        </td>
                        <td class="bord">
                            <input class="profile_button" type="submit" value="Invitar">
                        </td>
                        </form>
                    </tr>
                    <% }) %>
                </table>
                <% } %>
            </div>
        </div>
    </div>

</body>

</html>