<!DOCTYPE html>
<html lang="es">

<head>
    <title>Amigos - Facebluff</title>
    <meta name="description" content="Facebluff">
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="../css/friends.css">
</head>

<body>
    <header>
        <div class="sup">
            FACEBLUFF
        </div>
        <div class="navbar">
            <a href="profile">Perfil</a>
            <a class="active" href="#">Amigos</a>
            <a href="/questions">Preguntas</a>
            <a href="/logout">Desconectar</a>
            <div> 50 pts</div>
        </div>
    </header>
   
    <div class="container">
        <div class="left">

           <div>
            <h2>Solicitudes de amistad</h2>
    
    
            <% if (friendsRequest) { %>
            
                <table> 
                    <% friendsRequest.forEach( p=> { %>
                    <tr>
                        <form method="POST" action="friendResponse">
                        <td colspan="4">
                            <input type ="hidden" name= "friendrequest" value="<%=p.email%>" >
                            <img class="icon_miniature" src="img/cara.png" alt="profile picture" /> 
                            <a class="friendsView"> <%= p.name %> </a>
                        </td>
                        <td class="bord">
                            <input class="profile_button" type="submit" name="btn" value="Aceptar">
                        </td>
                        <td>
                            <input class="profile_button" type="submit" name="btn" value="Rechazar">
                        </td>
                        </form>
                    </tr>
    
                    <% }) %>
                </table>
            <% } %>
           </div>
    
    
           <div>
            <h2 class="mytext">Mis amigos</h2>
    
            <% if(friends) { %>
                <table class="tablefriends">
                    <% friends.forEach( p =>{ %>
                    <tr>
                        <td>
                            <img class="icon_miniature" src="img/cara.png" alt="profile picture" /> <a class="friendsView"
                                href="#"> <%= p.name %></a>
                        <td class="bord">
                            <a class="profile_button visitar" href="/profile?email=<%= p.email %>" value="Visitar"> Visitar </a>    
                        </td>
                    </tr>
                    <% }) %>
                </table>
                <% } %>
    
           </div>
        </div>
    
        <div class="right">
            <form action="/search" method="POST">
                <input type="text" name="name" id="name" placeholder="Buscar usuarios">
                <button type="submit" value="Buscar">Buscar</button>
            </form>
    
    
            <div class="friends_search">
                <h2>Amigos encontrados</h2>
                <% if (search) { %>
                <table class="rightTable">
                    <% search.forEach( p => { %>
                    <tr>
                        <form method="POST" action="sendFriendRequest">
                        <td colspan="4">
                            <input type ="hidden" name= "friendrequest" value="<%=p.email%>" >
                            <img class="icon_miniature" src="img/cara.png" alt="profile picture" /> <a class="friendsView"
                                href="#"> <%= p.name %> </a>
                        </td>
                        <td class="bord">
                            <input class="profile_button" type="submit" value="Invitar">
                        </td>
                        </form>
                    </tr>
                    <% }) %>
                </table>
                <% } %>
            </div>
        </div>
    </div>

</body>

</html>