<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Facebluff">
        <title>Perfil - Facebluff</title>
        <link rel="shortcut icon" href="/favicon(1).ico" type="image/x-icon">
        <link rel="icon" href="/favicon(1).ico" type="image/x-icon">
        <link href="../css/profile.css" rel ="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <div class="sup">
                FACEBLUFF
            </div> 
            <div class="navbar">           
                <a class="active" href="profile?email=<%=data.email%>">Perfil</a>        
                <a href="friends">Amigos</a>        
                <a href="questions">Preguntas</a>        
                <a href="logout">Desconectar</a>
                <% if(data) { %>
                <a class="disabled"> <%= data.points %> pts.</a>
                <% } %>
            </div>
        </header>
        <div id="content">
            <% if (fdata) { %>
                <div>
                    <h1 class="mytext"> Perfil de <%=fdata.name %></h1>
                    <table id="displayProfile">
                        <tr>
                            <td rowspan="4" colspan="4">    
                                <img class="icon" src="img/cara.png" alt="profile picture"/></td>
                            <td class="data"><%= fdata.name %></td>
                        </tr>
                        <% if (age !== -1) { %>
                            <tr>
                                <td class="data"><%=age %> años</td>
                            </tr>
                        <% } %>
                        <tr>
                            <% if (fdata.gender === 'm') { %>
                                <td class="data">Hombre</td>
                            <% } else if (fdata.gender === 'f') { %>
                                <td class="data">Mujer</td>
                            <% } else { %>
                                <td class="data">Otro</td>
                            <%} %>
                        </tr>
                        <tr>
                            <td class="data"><%= fdata.points %> puntos</td>
                        </tr>
                    </table>
                </div>
            
            <%} else {%>
                <div>
                    <h1 class="mytext">Tu perfil</h1>
                    <table id="displayProfile">
                        <tr>
                            <td rowspan="4" colspan="4">    
                                <% if (data.profile_picture) { %>
                                    <img class="icon" src="img/<%=data.profile_picture%>" alt="profile picture"/>
                                <% } else { %>
                                    <img class="icon" src="img/cara.png" alt="profile picture"/>
                                <% } %>
                            </td>
                            <td class="data"><%= data.name %></td>
                        </tr>
                        <% if (age !== -1) { %>
                            <tr>
                                <td class="data"><%=age %> años</td>
                            </tr>
                        <% } %>
                        <tr>
                            <% if (data.gender === 'm') { %>
                                <td class="data">Hombre</td>
                            <% } else if (data.gender === 'f') { %>
                                <td class="data">Mujer</td>
                            <% } else { %>
                                <td class="data">Otro</td>
                            <%} %>
                        </tr>
                        <tr>
                            <td class="data"><%= data.points %> puntos</td>
                        </tr>
                    </table>
                    <div class="twocolumns">
                        <a class="profile_button" href="modify">Modificar Usuario</a>
                        <div>
                            <form id="uploadform" method="POST" action="/uploadpicture" enctype="multipart/form-data">
                                <input type="file" name="file" id="file" class="inputfile" accept="image/*"/>
                                <label for="file">Escoger foto</label>
                                <input type="text" placeholder="Descripción" name="desc" required>
                                <button type="submit" class="profile_button">Subir</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% } %>

            <%if(locals.pictures) { %>
                <div class="container">
                    <% pictures.forEach(p => { %>
                        <div class="gallery">
                            <a target="_blank" href="img/<%=p.picture%>">
                            <img src="img/<%=p.picture%>" alt="Cinque Terre">
                            </a>
                            <div class="desc"><%=p.desc%></div>
                        </div>
                    <% })%>
                </div>
            <%} %>
        </div>
    </body>
</html>