<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Facebluff">
        <title>Perfil - Facebluff</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link href="../css/profile.css" rel ="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <div class="sup">
                FACEBLUFF
            </div> 
            <div class="navbar">           
                <a class="active" href="profile?email=<%=data.email%>">Perfil</a>        
                <a href="friends">Amigos</a>        
                <a href="questions">Preguntas</a>        
                <a href="logout">Desconectar</a>
                <% if(data) { %>
                <a class="disabled"> <%= data.points %> pts.</a>
                <% } %>
            </div>
        </header>
        <div id="content">
            <% if (fdata) { %>
                <div>
                    <h1> Perfil de <%=fdata.name %></h1>
                    <table id="displayProfile">
                        <tr>
                            <td rowspan="4" colspan="4">    
                                <img class="icon" src="img/cara.png" alt="profile picture"/></td>
                            <td class="data"><%= fdata.name %></td>
                        </tr>
                        <tr>
                            <td class="data"><%= fdata.birthday %></td>
                        </tr>
                        <tr>
                            <td class="data"><%= fdata.gender %></td>
                        </tr>
                        <tr>
                            <td class="data"><%= fdata.points %></td>
                        </tr>
                    </table>
                </div>
            
            <%} else {%>
                <div>
                    <h1>Tu perfil</h1>
                    <table id="displayProfile">
                        <tr>
                            <td rowspan="4" colspan="4">    
                                <% if (data.profile_picture) { %>
                                    <img class="icon" src="img/<%=data.profile_picture%>" alt="profile picture"/>
                                <% } else { %>
                                    <img class="icon" src="img/cara.png" alt="profile picture"/>
                                <% } %>
                            </td>
                            <td class="data"><%= data.name %></td>
                        </tr>
                        <tr>
                            <td class="data"><%= data.birthday %></td>
                        </tr>
                        <tr>
                            <td class="data"><%= data.gender %></td>
                        </tr>
                        <tr>
                            <td class="data"><%= data.points %></td>
                        </tr>
                    </table>
                    <div class="twocolumns">
                        <a class="profile_button" href="modify">Modificar Usuario</a>
                        <div>
                            <input type="file" name="file" id="file" class="inputfile" />
                            <label for="file">Sube tus fotos</label>
                        </div>
                    </div>
                </div>
            <% } %>
            <div class="container">
                <div class="gallery">
                    <a target="_blank" href="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?w=500&h=500&fit=crop">
                    <img src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?w=500&h=500&fit=crop" alt="Cinque Terre" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>
            
                <div class="gallery">
                    <a target="_blank" href="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop">
                    <img src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="Forest">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>
                
                <div class="gallery">
                    <a target="_blank" href="https://images.unsplash.com/photo-1486334803289-1623f249dd1e?w=500&h=500&fit=crop">
                    <img src="https://images.unsplash.com/photo-1486334803289-1623f249dd1e?w=500&h=500&fit=crop" alt="Northern Lights">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>
                
                <div class="gallery">
                    <a target="_blank" href="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?w=500&h=500&fit=crop">
                    <img src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?w=500&h=500&fit=crop" alt="Cinque Terre">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>
            
                <div class="gallery">
                    <a target="_blank" href="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop">
                    <img src="https://images.unsplash.com/photo-1515260268569-9271009adfdb?w=500&h=500&fit=crop" alt="Forest">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>
                
                <div class="gallery">
                    <a target="_blank" href="https://images.unsplash.com/photo-1486334803289-1623f249dd1e?w=500&h=500&fit=crop">
                    <img src="https://images.unsplash.com/photo-1486334803289-1623f249dd1e?w=500&h=500&fit=crop" alt="Northern Lights">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>
        </div>
    </body>
</html>